body {
  background-image: url(assets/images/windows.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
}

.recycleBin {
  position: absolute;
  background-image: url(assets/images/recycle-bin.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  margin: 10px;
}

.recycleBin::after {
  content: 'Recycle Bin';
  position: absolute;
  bottom: -10px;
  margin: auto;
  width: fit-content;
  color: white;
}

.wrapper > .window {
  margin: auto;
  margin-top: 5%;
  z-index: 2;
}

.windows {
  width: fit-content;
  height: fit-content;
}

.inputArea {
  position: relative;
  display: block;
  height: 10rem;
  margin: auto;
  width: 70svw;
}

li.window {
  float: left;
  list-style-type: none;
  width: 200px;
  margin: 0px 10px 10px 0px;
}

textarea {
  resize: none;
  line-height: 15px;
  font-size: larger;
  letter-spacing: 0.5px;
}

.inputArea > textarea {
  height: 40%;
  width: 95%;
  margin: 15px;
  overflow: hidden;
  word-wrap: break-word;
}

.dateTimeInput > input,
label {
  margin-left: 10px;
}

.saveResetBtn {
  display: flex;
  justify-content: end;
}

.saveResetBtn > button:nth-child(2) {
  margin-left: 10px;
}

.note {
  padding-left: 4px;
  overflow: hidden;
  height: 10rem;
  width: 100%;
}

.note:hover {
  overflow-y: visible;
}

.status-bar {
  margin-top: 10px;
}

.edittask {
  margin: 5px 5px 0px 0px;
}

.noteArea {
  display: flex;
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 99.5%;
}

.footerDate {
  position: absolute;
  right: 0;
}

button {
  cursor: pointer;
}